    /*
    Criado em   : 15/02/2020, 03:39
    Autor       : Eric Figueiredo - Desenvolvedor PHP/Laravel
    */

    .title-pg{
        font-size: 2em;
        font-weight: 700;
        text-transform: uppercase;
    }

    .edit{
        color: rgb(9, 36, 2);        
    }
    .delete{
        color: rgb(51, 50, 48);
    }

    .actions{
        padding: 2px;
        color: rgb(26, 22, 22);
        text-decoration: none;
        font-size: 0.8em;
        margin: 0px 2px;
    }

    .actions:hover{
        text-decoration: none;
        color: #fff;
    }

    .btn-add{
        margin-bottom:10px;
    }